      body { 
        background: url(https://media.giphy.com/media/12G7r0udPHMTS/giphy.gif);
        height: 100vh;
        background-size: 100%;
        background-repeat: no-repeat;
        color: #3E6990;
        text-align: center;
      }
      .container {
        height: 100vh;
        overflow: scroll;
      }
      #song-name {
        color: #1a472a;
      }
      #artist-name {
        color: #3E6990;
      }
      #label-name {
        color: #F39B6D;
      }
      .row {
        height: 100%;
        display: flex;
        justify-content: center;
        overflow: scroll;
      }

      .btn {
        background-color: #1a472a;
        color:  #F39B6D;
      }

      .card {
        background-color: #E9E3B4;
        opacity: 0.5;
        margin: 10px;
      }

      .navbar {
        background-color: #E9E3B4;
        opacity: 0.5;
        height: 60px;
        width: 80%;
      }

      .modal {
        background-color: #E9E3B4;
        opacity: 0.5;
      }

      #bodyinput {
        height: 100%;
        width: 100%;
      }

      .liked-track {
        background-color: #590000;
        opacity: 0.5;
      }
